<html>   
<head>   
    <title>Home</title>   
</head>   
<body>   
    <h1>Welcome to camera surveillance system </h1>
    <nav>
        <a href="/videos?video_to_play=Nothing">Browse videos</a> <br>
        <a href="/cam_settings">Adjust camera settings</a> <br>
        <a href="/try">Try page</a>
    </nav>

    <br>
    <hr>
    <br>
    <h3>File upload test</h3>
    <form action = "/success" method = "post" enctype="multipart/form-data">   
        <input type="file" name="file" />   
        <input type = "submit" value="Upload">   
    </form>   
</body>   
</html>